VITE_SUPABASE_URL=https://eqwdmscuwgnftosqrcdy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Uq6zC9Vhrza7FGltBzGCGQ_t1hB2sKh
VITE_GROQ_API_KEY=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